body
{
  background-color: lightgray;
}

p
{
  font-style: italic;
}

h1, h2, h3, h4, h5, h6
{
  text-decoration: underline;
}

p.intro
{
  font-style: normal;
  font-size: 130%;
  color: yellow;
}

.fancy
{
  color: red;
  border: 1px solid red;
}

.example
{
  border: 1px solid green;
  width: 400px;
  height: 400px;
  display: inline-block;
}
